<!-- I'm hungry-->
<p id="cookie-notice">This website uses cookies to ensure you get the best experience on our website<br><button onclick="acceptCookie();">Got it!</button></p>

<style>#cookie-notice{color:#fff;font-family:inherit;background:#596cd5;padding:20px;position:fixed;bottom:10px;right:10px;width:100%;max-width:300px;box-shadow:0 10px 20px rgba(0,0,0,.2);border-radius:5px;margin:0px;visibility:hidden;z-index:1000000}#cookie-notice button{color:inherit;background:#3842c7;border:0;padding:10px;margin-top:10px;width:100%;cursor:pointer}@media only screen and (max-width:600px){#cookie-notice{max-width:100%;bottom:0;left:0;border-radius:0}}</style>

<script>function acceptCookie(){document.cookie="cookieaccepted=1; expires=Thu, 18 Dec 2030 12:00:00 UTC; path=/",document.getElementById("cookie-notice").style.visibility="hidden"}document.cookie.indexOf("cookieaccepted")<0&&(document.getElementById("cookie-notice").style.visibility="visible");</script>
<!--End of im hungry -->
<div class="section" id="footer"><!-- Begin Footer section -->
    <div class="container has-text-centered"><!-- Begin Footer container -->
        {{ if .Site.Params.footertext }}
            {{ .Site.Params.footertext }}
        {{ else }}
        <span class="footer-text"><a href="https://github.com/MrGKanev/MrGKanev-s-blog" target="_blank" rel="noopener">Source code</a> | Modified with <i class="fa fa-heart"></i>&nbsp;and <i class="fa fa-coffee"></i>&nbsp;. <i class="fa fa-copyright"></i> <a href="https://mrgkanev.eu" target="_blank">mrgkanev</a> 2012 - 2020</span>
        {{ end }}
    </div><!-- End Footer container -->
</div><!-- End Footer section -->
{{ if .Site.Params.googleTagmanager }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagmanager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        {{ end }}